@font-face {
    font-family: 'm-r';
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'm-b';
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'm-t';
    src: url(../fonts/Montserrat-Thin.ttf);
}
@font-face {
    font-family: 'm-m';
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'f-r';
    src: url(../fonts/Futura\ Bk\ BT.otf);
}
@font-face {
    font-family: 'f-b';
    src: url(../fonts/Futura\ Md\ BT.otf);
}